.register-ressi .label_block .form-control {
    display: block !important;
    width: 100% !important;
    height: 61px !important;
    padding: 15px 10px 10px 15px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    color: #354145 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #b3adad !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    border-radius: 12px!important;
}
.register-ressi .form-control {
    margin-bottom:0px!important;
}
#registraion-page-form .label_block {
    position:relative;
}
#registraion-page-form .label_block label {
    position:absolute;
    top: 0;
    right: 0px;
    color:#e67817;
    margin-top: 1%;
    margin-right: 1%;
}



.captcha_reload::after {
    background: rgba(0, 0, 0, 0) url(/bitrix/templates/altermax/img/icons_wish.svg) repeat scroll -67px -82px;
    height: 13px;
    left: 10px;
    top: 11px;
    transition: background 0.7s ease-in-out 0s;
    width: 15px;
}

.captcha_reload {
    border: 1px solid transparent;
    cursor: pointer;
    height: 35px;
    left: 179px;
    position: absolute;
    top: 0;
    width: 36px;
}

.captcha_reload:hover:before {
    background: #383838;
}

.captcha_reload::before {
    border-radius: 25px;
    height: 25px;
    left: 5px;
    top: 5px;
    width: 25px;
    background:#0c3467;
}

.captcha-row.register-captcha .captcha_image {
    height: 37px;
    position: relative;
    width: auto;
    width: 30%;
}

.iblock_captha_container {
    display:flex;
    align-items: center;
}

.captcha-row .captcha_image .captcha_reload {
    right: 0;
    text-indent: -9999px;
}

.captcha_reload::before, .captcha_reload::after {
    content: "";
    display: block;
    position: absolute;
}

.register-ressi .iblock.label_block {
    width:100% !important;
}
.register-ressi .registraion-page {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.register-ressi .button-red span {
    font-size: 18px!important;
}
.register-ressi .button-red {
    background:#8A221C!important;
    color:white;

}
.register-ressi .form-control input::placeholder {
    color:black;
}
.form-control {
    height:auto;
}
.register-ressi .color-orange {
    color: #990000 !important;
    font-weight: 600;
    font-size: medium;
    padding: 10px 15px 10px 15px;
}
.register-ressi .form-control {
    display: flex;
    flex-direction: column;
}
.register-ressi .form-control label:not(.label_captha):not(.error) {
    flex-basis: 30%!important;
    font-weight: 400!important;
    color: grey!important;
    font-size: 15px!important;
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 99;
}
.label_captha {
    flex-basis: 30%!important;
    font-weight: 500!important;
    color: black!important;
    font-size: initial!important;
}
.register-captcha .captcha {
    font-size:19px!important;
}
.register-ressi .wrap_md {
    flex-basis:70%;
}
.register-ressi .text-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.register-ressi {
    background: #fff;
    border: 1px solid #e8e8e8;
    padding: 16px;
}
.register-ressi p {
    margin-bottom:0px;
}

#captcha_word-error {
    color: #e62222 !important;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0px;
    font-weight: 600;
    margin-right: 10px !important;
    font-size: 10px;
    text-align: right;
    z-index: 99;
}

.register-ressi .error:not(.label_block .error):not(#captcha_word-error) {
    padding: 15px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom:20px;
}
.licence_block {
    margin-top:15px;
}
.captcha_input .inputtext {
    border: 1px dashed #0D366B;
    width:100%;
}
.captcha_input {
    width: 30%;
    margin-left: 5%;
}

@media all and (max-width: 1084px) {
    .register-ressi .registraion-page {
        width: 100%;
    }
    .register-ressi .form-control {
        flex-direction: column;
    }
    .register-ressi .text-right {
        justify-content: center;
        margin-top: 24px;
    }
    .captcha-row {
        margin-top: 10px;
    }
}

@media all and (max-width: 800px) {
    .register-ressi .color-orange {
        font-size:revert;
        margin-bottom: 15px;
    }
}