.ik_select_link {
    display: block !important;
    width: 100% !important;
    height: 50px !important;
    padding: 7px 10px 10px 15px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    color: black !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #b3adad !important;
    border-radius: 12px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
.bx_filter .bx_filter_select_arrow, .common_select .common_select-link .trigger {
    border-left: none!important;
    background: none!important;
}
.ik_select_link_text {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: black!important;
}
.subm-btm {
    white-space: normal!important;
}
.form-terms-checkbox {
    list-style:none;
}



.first-row .input_container input {
    display: block !important;
    width: 100% !important;
    height: 50px !important;
    padding: 15px 10px 10px 15px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    color: black !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #b3adad !important;
    border-radius: 12px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
.first-row .input_container label {
    font-weight: 600;
    font-size: 15px;
}
.first-row .input_container {
    margin-bottom:10px;
    position: relative!important;
}
label.error:not(#captcha_word-error) {
    top: 39px!important;
}
.enumeration-select select {
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #b3adad !important;
    border-radius: 12px !important;
    height: 50px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    width:100%;
}
.input_container .field-wrap {
    position:relative;
}
.input_container  .error {
    position: absolute;
    text-align: right;
    color: red !important;
    right: 24px;
    top: 9px;
    font-size: 11px;
    padding: 0px !important;
    background-color: transparent !important;
    margin-bottom: 0px !important;
    display: block;
}

.checklist--style {
    color: black;
    font-size: 15px !important;
    font-weight: 600 !important;
}
.input_container input::placeholder {
    color:black;
}
.input_container select::placeholder {
    color:black;
}
.input_container input[type="date"] {
    display: block !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.5 !important;
    color: black !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #b3adad !important;
    border-radius: 12px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}


.table_bord {
    display:flex;
    flex-direction: column;
    padding: 10px 16px 18px;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.bord {
    background-color: #f56900;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 8px;
    margin-bottom: 0;
    border-color: #0c3467;
}
.type_of_buyer .enum_item .fields {
    height: 25px;
}
.contact_information_birdthday .input_container {
    display: flex;
    flex-direction: column;
}
.save_container input {
    font-size: 16px;
    text-transform: uppercase;
    white-space: normal;
    padding: 12px 8px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: #8A221C;
    color: white;
}
.save_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    width:47%;
}

.first-row {
    display:flex;
    justify-content: space-between;
}
.first-row-left {
    flex-basis: 47%;
}
.first-row-right {
    flex-basis: 47%;
}

.second-row {
    display:flex;
    justify-content: space-between;
}
.second-row-left {
    flex-basis: 47%;
}
.second-row-right {
    flex-basis: 47%;
}
.information_cointatiner {
    background-color: #fff9dd;
    padding: 16px;
    font-weight: 500;
    color: black;
}
.form-control {
    width:auto!important;
}
@media all and (max-width: 996px) {
    .first-row {
        flex-direction: column-reverse;
    }
    .second-row {
        flex-direction: column-reverse;
    }
    .save_container {
        justify-content: center;
        width: 100%;
    }
}